# Created by .ignore support plugin (hsz.mobi)
/.idea/
/*.iml
/cloud-provider-payment8001/cloud-provider-payment8001.iml
/cloud-api-commons/cloud-api-commons.iml
/cloud-api-commons/target/
/cloud-provider-payment8001/target/
/cloud-consumer-order80/cloud-consumer-order80.iml
/cloud-consumer-order80/target/
/cloud-eureka-server7001/cloud-eureka-server7001.iml
/cloud-eureka-server7001/target/
